## Express and Node files and folders to ignore
# Add here any file to be ignore by git commits
node_modules/
package-lock.json
/public/uploads

## MacOS files and folders to ignore
# Desktop Services Store file is a macOS specific file that stores custom attributes/metadata, such as folder view
# options, icon positions, and other visual information.
.DS_Store