## Express and Node files and folders to ignore
# Add here any file to be ignore by git commits

# Dependency directories
node_modules/

# Dependency files
package-lock.json

## MacOS files and folders to ignore
# Desktop Services Store file is a macOS specific file that stores custom attributes/metadata, such as folder view
# options, icon positions, and other visual information.
.DS_Store


## Code Editor files and folders to ignore
.idea/