<main>
    <h2>Create an Account</h2>
    <form action="/signup" method="post">
        <label>Account Type
            <input type="radio" name="role" value="general" checked> General
            <input type="radio" name="role" value="realtor"> Realtor
        </label>
        <br>
        <label>Email
            <input type="email" name="email" pattern="^\w.*$" required autocomplete="email">
        </label>
        <br>
        <label>Username
            <input type="text" name="username" pattern="^\w.*$" required autocomplete="username">
        </label>
        <br>
        <label>Password
            <input type="password" name="password" pattern="^\w.*$" required autocomplete="new-password">
        </label>
        <br>
        <label>Confirm Password
            <input type="password" name="confirmPassword" pattern="^\w.*$" required autocomplete="new-password">
        </label>
        <br>
        <label>Upload Documentation
<!--            <input type="file" name="file" accept="image/*">-->
            <input type="file" name="file" required>
            <!--'name' attribute: Used so that the input data can be identified when the form is submitted.-->
        </label>
        <br>
        <button type="submit">Sign Up</button>
    </form>
    {{#if errorMessage}}
        <p class="error-message-form">{{errorMessage}}!</p>
    {{/if}}
</main>